html, #mp-menu-site-wrap{
	min-height:100%;
	overflow-x: hidden;
	position:relative;
}
body{
	height:100%;
}
#mp-menu-toggle-button-holder, #mp-menu-close-button-holder{
	display:none;
	z-index:9999999999;
	position:relative;
	top:0;
}
#mp-menu-toggle-button-holder .mp-menu-toggle:hover, #mp-menu-close-button-holder .mp-menu-close-button:hover{
	text-decoration:none;
	cursor: pointer; 
}
#mp-menu-toggle-button-holder .mp-menu-toggle, #mp-menu-close-button-holder .mp-menu-close-button{
	display:inline-block;	
}
#mp-menu-close-button-holder{
	float:left;	
}
#mp-menu-holder{
	display:none;	
}
@media (max-width: 1180px){
	
	/*toggle and close buttons */
	#mp-menu-toggle-button-holder, #mp-menu-close-button-holder{
		display:inline-block;
	}
	
	/*This gets applied to the body upon open*/
	.mp-menu-open {
		-webkit-transform: translate3d(-240px, 0, 0);
		-moz-transform: translate3d(-240px, 0, 0);
		transform: translate3d(-240px, 0, 0);
		
		-webkit-transition: all .3s;
		transition: all .3s;
	}
	
	/*This gets applied to the body upon close */
	.mp-menu-close {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		right:0px;
		
		-webkit-transition: all .3s;
		transition: all .3s;
	}
	
	/*This holds the menu when the screen is mobile sized */
	#mp-menu-holder{
		display:block;	
	}
	
	/* This is the actual navigation div from wordpress when sitting in our mp-menu-holder div */
	#mp-menu-holder [role~=navigation]{
		width: 240px;
		margin:0px!important;
		position: absolute;
		top: 0;
		right: 0px;
		overflow:hidden;
		
		-webkit-transform: translate3d(240px, 0, 0);
		-moz-transform: translate3d(240px, 0, 0);
		transform: translate3d(240px, 0, 0);	
		
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		
		-webkit-transition: all .3s;
		transition: all .3s;
	}
	
	/*This gets applied to the navigation menu when it is "open" */
	#mp-menu-holder .mp-menu-open{
		-webkit-transform: translate3d(0, 0, 0)!important;
		-moz-transform: translate3d(0, 0, 0)!important;
		transform: translate3d(0, 0, 0)!important;	
		
		-webkit-transition: all .3s;
		transition: all .3s;
	}
		
	.mp-menu-header-search{
		display:block;
	}
	
}